// =============================
// Colors
// =============================
$c-primary: #ff4d5a;
$c-primary-variant: #ff6b75;

$c-background: #0f0f0f;
$c-surface: #262323;

$c-error: #e53935;
$c-warning: #ffb800;
$c-success: #00c46b;

$c-on-background: #f5f6fa;
$c-on-surface: #e2e4eb;
$c-on-primary: #ffffff;

// =============================
// Font sizes (rem)
// =============================
$font-h1: 4rem;       // 64px
$font-h2: 3rem;       // 48px
$font-h3: 2rem;       // 32px

$font-h1-mb: 2.5rem; // 40px
$font-h2-mb: 2rem; // 32px


$font-body-lg: 1.125rem; // 18px
$font-body: 1rem;         // 16px
$font-body-sm: 0.875rem;  // 14px
$font-caption: 0.75rem;   // 12px

$font-body-lg-mb: 0.875rem; // 14px